$color-one: #CF383E;
$color-two: #FFF;
$color-three: #BFBFBF;

$background-color: #131313;

$font-one: 'Source Sans Pro Black', sans-serif;
$font-two: 'Source Sans Pro Semibold', sans-serif;
$font-three: 'Source Sans Pro Bold', sans-serif;
$font-four: 'Source Sans Pro Regular', sans-serif;