/* Splash */
#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.splash{
  height: 90vh;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after{
    display: block;
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    background: $background-color;
    top: 50%;
    background: linear-gradient(
      to top,
      $background-color 10%, transparent);
  }

  &__title{
    color: $color-two;
    z-index: 1;
    
    h1{
      font-size: 130px;
      letter-spacing: 80px;
      font-family: $font-one;
      left: 23%;
      top: 24%;
      position: absolute;
    }

    h4{
      font-size: 25px;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 10px;
      font-family: $font-three;
      position: absolute;
      top: 49%;
      left: 44%;
    }
  }
}

/* Main */

.main{
  background-color: $background-color;

  &__nav{
    padding-top: 20px;
  }

  &__links{
    display: flex;
    justify-content: center;

    li{
      margin-right: 80px;
      margin-left: 20px;
      list-style: none;

      a{
        color: $color-three;
        text-decoration: none;
        font-size: 24px;
        font-family: $font-two;
      }

      .active{
        color: $color-two;
      }
    }
  }

  .categories-wrapper{
    display: flex;
    color: $color-two;
    justify-content: center;
    letter-spacing: 3px;

    p{
      font-size: 20px;
      font-family: $font-two;
    }
    

    .categories-links{
      display: flex;
      list-style: none;
      padding-left: 5px;
      margin-bottom: 14px;
      margin-top: 20px;

      a{
        text-decoration: none;
        color: $color-two;
        padding-right: 7px;
        font-size: 20px;
        font-family: $font-four;
      }

      .active{
        font-family: $font-three;
        color: $color-one;
        letter-spacing: 2.3px;
      }
    }
  }

  .songs-wrapper{
    min-height: 300px;
    color: $color-two;
    margin-top: 50px;

    .songs{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 100px;
      font-family: $font-four;
      letter-spacing: 1px;

      &:last-child{
        padding-bottom: 150px;
      }

      .song-title{
        font-size: 24px;
      }

      .description{
        display: flex;
      }

      .player{
        position: relative;
      }

      .pin{
        background-color: $color-one;
      }

      .categories{
        display: flex;
        color: $color-three;
        font-size: 14px;
        position: absolute;
        top: 120%;
        left: 0%;
      }

      .ranking{
        position: absolute;
        top: 120%;
        left: 65%;
        color: $color-three;
        font-size: 14px;
      }
    }
  }
}

/* Subscribe */

.subscribe{
  height: 70vh;
  background-image: url('../images/subscribe.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  display: none;

  &__header{
    font-size: 35px;
    color: $color-two;
    position: absolute;
    top: -87px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 7px;

    h1{
      font-family: $font-four;
    }

    .title-style{
      font-family: $font-one;
    }
  }

  &__img img{
    max-width: 50%;
    height: 390px;
    position: absolute;
    left: 58.5%;
    top: 110px;
  }

  &__text{
    color: $color-two;
    font-size: 60px;
    position: absolute;
    top: 250px;
    left: 620px;
    line-height: 0.5;
    font-family: $font-one;

    .second-line{
      text-indent: 35px;

      &__color{
        color: $color-one;
      }
    }
  }

  &__description{
    position: absolute;
    top: 520px;
    left: 600px;
    color: $color-two;
    letter-spacing: 7px;
    line-height: 0.7;

    h5{
      font-size: 24px;
      margin: 0;
      text-indent: 320px;
      font-family: $font-two;
    }

    p{
      font-size: 24px;
      font-family: $font-four;
    }
  }

  &__btn{
    background: $color-one;
    line-height: 90px;
    position: absolute;
    top: 350px;
    left: 250px;
    border-radius: 10px;

    a{
      padding: 35px 30px;
      font-size: 30px;
      color: white;
      text-decoration: none;
      letter-spacing: 7px;
      font-family: $font-two;
    }
      
  }
}

.active{
  display: block;
}

/* Footer */

.footer{
  text-align: center;
  font-family: $font-four;
  background: $background-color;
  color: $color-three;
   
  p{
    margin: 0;
    padding: 20px 0;
  }
}

@media (min-width: 641px) and (max-width: 1280px){
  .splash{
    h1{
      font-size: 15vw;
      letter-spacing: 6vw;
      top: 18vh;
      left: 18vw;
    }

    h4{
      left: 43vw;
      top: 55vh;
      font-size: 2.5vw;
    }
  }

  .subscribe__img img{
    height: 30vh;
  }

  .subscribe__text{
    top: 10%;
    left: 15%;
  }

  .subscribe__description{
    top: 40vh;
    left: 20vw;
    letter-spacing: 0.5vw;
    font-size: 5vW;

    h5{
      text-indent: 0;
    }

    p{
      line-height: 1;
    }
  }

  .subscribe__btn{
    top: 55vh;
    left: 20vw;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .splash {
    background-position: 48% 50%;
    
    h1{
      font-size: 20vw;
      letter-spacing: 6vw;
      top: 25vh;
      left: 10vw;
    }

    h4{
      left: 39vw;
      top: 45vh;
      font-size: 4vw;
    }
  }

  .main__links{
    display: block;
    text-align: center;

    li{
      padding-bottom: 10px;
    }
  }

  .main {
    .songs-wrapper{
      .songs{
        .song-title{
          font-size: 20px;
        }

        .green-audio-player{
          width: 350px;
        }
      }
    }
  }

  .categories-links{
    flex-direction: column;

    li{
      padding-bottom: 10px;
    }
    
  }
  
  .subscribe__header{
    font-size: 24px;

    .title-style{
      position: absolute;
      left: 30%;
      top: 63%;
    }
  }

  .subscribe__img img{
    height: 20vh;
  }

  .subscribe__text{
    top: 10%;
    left: 15%;
  }

  .subscribe__description{
    top: 40vh;
    left: 20vw;
    letter-spacing: 0.5vw;
    font-size: 5vW;

    h5{
      text-indent: 0;
    }

    p{
      line-height: 1;
    }
  }

  .subscribe__btn{
    top: 55vh;
    left: 20vw;
  }
}