.search-wrapper{
  // min-height: 500px;
  background-color: $background-color;
  color: $color-two;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 7px;
}

.search-title h1{
  font-size: 40px;
  font-family: $font-two;
}

form{
  display: flex;
  flex-direction: row;
}

.search-input-name{
  font-size: 20px;
  font-family: $font-two;
  color: $color-three;
}

.search-input{
  margin: 0 15px;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.btn-primary{
  width: 120px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  font-family: $font-four;
  color: $color-two;
  background-color: $color-one;
  letter-spacing: 5px;
  border: none;
  cursor: pointer;
}

.search-text{
  font-size: 20px;
  font-family: $font-two;
  color: $color-two;
  display: none;
  margin-top: 60px;
}

.active{
  display: block;
}

.select-category{
  color: white;
  font-size: 20px;
  font-family: $font-two;
  color: $color-three;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
}

select, option{
  font-family: $font-two;
  color: black;
  margin: 0 15px;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 1280px){
  form{
    display: flex;
    flex-direction: column;
  }

  .search-input{
    margin: 10px 45px;
    width: 40vw;
    
  }

  select, option{
    width: 40vw;
  }

  .btn-primary{
    margin: 10px auto;
  }
}